:root {
    --primary-color: #f5f3f5;
    --secondary-color: #bfcc94;
    --tertiary-color: #73074f;
    --quaternary-color: #32034E;
    --quinary-color: #E24747;
    --senary-color: #c51b46;
    --septenary-color: #7bad5c;
    --octonary-color: #7bad5c;
    --nonary-color: white;
    --denary-color: #0a1f18;
    --primary-font: 'lucida handwriting', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-weight: lighter;
    font-family: var(--secondary-font);
    background-image: url("../images/fern.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    padding: 15px 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    background-image: url("../images/fern.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    z-index: 9999;
}


header h1 {
    font-family: var(--primary-font);
    font-size: 35px;
    color: var(--primary-color);
    margin: 15;

}

header a{
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 10px 0px;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: flex-end;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    border-bottom: solid var(--primary-color); 
}

/* footer */
footer {
    padding: 15px;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

/* about me styles */
aside {
    border-right: 5px solid var(--tertiary-color);
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

aside h2 {
    font-weight: lighter;
    padding: 175px;
}

img {
    max-width: 165px;
    max-height: 215px;
}

.content {
    display: inline-flex;
    flex-direction: row;
}
