:root {
    --primary-color: #f5f3f5;
    --secondary-color: #bfcc94;
    --tertiary-color: #73074f;
    --quaternary-color: #32034E;
    --quinary-color: #E24747;
    --senary-color: #c51b46;
    --septenary-color: #7bad5c;
    --octonary-color: #7bad5c;
    --nonary-color: white;
    --denary-color: #0a1f18;
    --primary-font: 'lucida handwriting', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-weight: lighter;
    font-family: var(--secondary-font);
    background-image: url("../images/fern.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    padding: 15px 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    background-image: url("../images/fern.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    z-index: 9999;
}


header h1 {
    font-family: var(--primary-font);
    font-size: 35px;
    color: var(--primary-color);
    margin: 15px;

}

header a{
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 10px 0px;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: flex-end;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    border-bottom: solid var(--primary-color); 
}

/* footer */
footer {
    padding: 15px;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

/* section styles */
section {
    padding: 100px;
}

/* about me styles */
.container {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-weight: lighter;
    border-right: 5px solid var(--tertiary-color);
    padding: 0 20px 20px 20px;
    flex-basis: 15%;
    text-align: right;
    font-size: 30px;
    flex-direction: row;
}

.about { 
    margin: 0 45px 45px 45px;
    flex: 1 30%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

.article-paragraph {
    flex: 70%;
}

.about img {
    max-width: 80%;
    border: solid 4px var(--denary-color);
}

.article-image {
    flex: 10%;
}


/* work styles */
.project-tiles {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 45px 45px 45px;
    flex: 1 20%;
    justify-content: space-evenly;
}

.project {
    margin: 0 45px 45px 45px;
    background-size: 100%;
    border: solid 5px var(--tertiary-color);
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    color: white;
    flex: 55%;
    justify-content: space-evenly;
}

.project:not(:first-child) {
    max-height: 275px;
    max-width: 305px;
}

.project img {
    width: 100%;
    height: 100%;
    opacity: .75;
}

.project img:hover {
    opacity: 1.0;
    outline: none;
}

.project-title {
    text-align: center;
    font-size: 15px;
    background-color: var(--quaternary-color);
    position: absolute;
    bottom: 8px;
    left: 16px;
    opacity: 1.0;
}

   

